@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  @apply m-4;
}

.buttonGithub {
  border-width: 1.5px;
  @apply flex flex-row items-center justify-center text-[9px] py-1 px-4 rounded-lg border-gray-200	font-bold;
}
