@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  @apply m-4;
}

.buttonGithub {
  border-width: 1.5px;
  @apply flex flex-row items-center justify-center text-[9px] py-1 px-4 rounded-lg border-gray-200	font-bold bg-gray-50 hover:bg-gray-100;
}

.buttonNavbar {
  @apply hover:bg-gray-100 rounded-md flex flex-row px-2 py-1;
}

.navActive {
  position: relative;
  color: black;
  text-decoration: none; /* Remove default underline */
}

.navActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Adjust based on the desired offset */
  width: 120%; /* Extend horizontally */
  height: 2px; /* Thickness of the underline */
  background-color: rgb(234, 130, 56); /* Underline color */
  transform: translateX(-6%); /* Center the extended underline */
}

i {
  @apply mr-0.5 text-gray-500;
}

.yellowIcon {
  @apply text-yellow-500;
}

.blueIcon {
  @apply text-blue-500;
}
.darkBlueIcon {
  @apply text-cyan-700;
}

.redIcon {
  @apply text-red-500;
}

.orangeIcon {
  @apply text-orange-500;
}

.greenIcon {
  @apply text-green-500;
}

.logo {
  @apply mr-0.5 text-black;
}

input {
  border-width: 2px;
  @apply text-xs text-gray-600 focus:border-blue-500 border-gray-200 rounded-md p-1 w-2/3 border outline-none;
}
